<launch>
  <!-- SVO -->
  <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" output="screen">
    <!-- Camera and IMU topics to subscribe to -->
    <param name="cam0_topic" value="/multisense_sl/camera/left/image_raw" type="str" />
    <param name="cam1_topic" value="/multisense_sl/camera/right/image_raw" type="str" />
    <param name="imu_topic" value="null" type="str" />
    <param name="calib_file" value="$(find svo_ros)/calib/pinhole_stereo_calib.yaml" type="str" />

    <rosparam file="$(find svo_ros)/param/pinhole_stereo_imu_lmk1200.yaml" />
    <rosparam file="$(find svo_ros)/param/gazebo_stereo_imu.yaml" />

  </node>

</launch>
